---
name: Check dist
on:
  pull_request:
  push:
    branches:
      - main
permissions: {}
jobs:
  check-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Amber
        uses: lens0021/setup-amber@58394844f9bb51e8b559f224b03f6dcb3d79f644 # v2.2.0
        with:
          amber-version: 0.5.1-alpha

      - run: amber build src/main.ab dist/main.sh

      - name: Make sure there is no diff of dist/ directories
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            git diff
            exit 1
          fi
