---
name: Check dist

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  check-dist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup Amber
        uses: lens0021/setup-amber@014375f0b64132ead405709f11653f95c6aa1652 # v2.0.0
        with:
          amber-version: 0.5.1-alpha

      - run: amber build src/main.ab dist/main.sh.new

      - name: Make sure there is no diff of dist/ directories
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            git diff
            exit 1
          fi
